<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warhammer 40K - Cajas de Inicio de warhammer 40k</title>
    <link rel="icon" type="image/jpg" href="/Imagenes/Warhammer_40k_logotipo_2.png"/>
</head>
<body>

    <header>
        <a href="./css/estilo.css"></a>
        <link rel="stylesheet" href="../css/estilo_comprar.css" type="text/css">
    </header>

    <nav>
        <a href="../Index.html"> Index</a>
        <a href="./Introduccion.html">Introduccion</a>
        <a href="./Historia.html">Historia</a>
        <a href="./Facciones.html">Facciones</a>
        <a href="./Galeria.html">Galería</a>
        <a href="./Comprar.html">Comprar</a>
        <a href="./Contacto.html">Contacto</a>
    </nav>

    <div class="container">
        <h1>Cajas de Inicio de Warhammer 40,000</h1>
        <div class="product-grid">

            <!-- Caja de Inicio: Edición Recluta -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../Imagenes/Set_Introductorio.jpg" alt="Caja de Inicio Warhammer 40K - Edición Recluta">
                </div>
                <div class="product-details">
                    <h2 class="product-title">Edición Recluta</h2>
                    <p class="product-description">El punto de entrada perfecto a Warhammer 40K, con todo lo necesario para empezar a jugar.</p>
                    <p class="product-price">$50.00</p>
                    <div class="product-content">
                        <h3>Contenido:</h3>
                        <ul>
                            <li>1 manual de 48 paginas</li>
                            <li>5 Marines Infernus</li>
                            <li>10 Termagantes</li>
                            <li>1 Enjambre Devorador</li>
                            <li>1 tapete de juego a doble cara</li>
                            <li>Pinturas, pincel, dados y Tenzas</li>
                            Las miniaturas se proporcionan sin montar ni pintar
                        </ul>
                    </div>
                    <a href="#comprar" class="buy-button">Comprar Ahora</a>
                </div>
            </div>

            <!-- Caja de Inicio: Edición Élite -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../Imagenes/Caja_De_Inicio.png" alt="Caja de Inicio Warhammer 40K - Edición Élite">
                </div>
                <div class="product-details">
                    <h2 class="product-title">Edición Élite</h2>
                    <p class="product-description">Más miniaturas y un reglamento avanzado para batallas más grandes.</p>
                    <p class="product-price">$90.00</p>
                    <div class="product-content">
                        <h3>Contenido:</h3>
                        <ul>
                            <li>1 Manual de 64 páginas</li>
                            <li>1 Capitán con armadura Exterminador</li>
                            <li>5 Exterminadores. </li>
                            <li>5 Marines Infernus.</li>
                            <li>1 Tiránido Primus Alado </li>
                            <li>1 Psicófago </li>
                            <li>3 Saltadores de Von Ryan </li>
                            <li>20 Termagantes</li>
                            <li>2 Enjambres devoradores</li>
                            <li>1 tapete de juego a doble cara</li>
                            <li>Pinturas, pincel, dados y Tenzas</li>
                            Las miniaturas se proporcionan sin montar ni pintar
                        </ul>
                    </div>
                    <a href="#comprar" class="buy-button">Comprar Ahora</a>
                </div>
            </div>

            <!-- Caja de Inicio: Edición Comando -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../Imagenes/Caja_de_Inicio_Definitiva_Warhammer_40k.png" alt="Caja de Inicio Warhammer 40K - Edición Comando">
                </div>
                <div class="product-details">
                    <h2 class="product-title">Edición Comando</h2>
                    <p class="product-description">La caja de inicio definitiva para batallas a gran escala.</p>
                    <p class="product-price">$175.00</p>
                    <div class="product-content">
                        <h3>Contenido:</h3>
                        <ul>
                            <li>1 Manual de 72 páginas </li>
                            <li>1 Capitán en armadura Exterminador.</li>
                            <li>1 Bibliotecario en armadura Exterminador.</li>
                            <li>5 Exterminadores.</li>
                            <li>5 Marines Infernus.</li>
                            <li>1 Tiránido Primus Alado</li>
                            <li>1 Psicófago </li>
                            <li>3 Saltadores de Von Ryan </li>
                            <li>5 Espinogantes</li>
                            <li>20 Termagantes</li>
                            <li>2 Enjambres Devoradores</li>
                            <li>Reglamento completo</li>
                            <li>Dados y marcadores</li> 
                            <li>2 tapetes de juego a doble cara</li>
                            <li>Pinturas, pincel, dados y Tenzas</li>
                            <li>9 elementos de terreno modulares </li>
                            Las miniaturas se proporcionan sin montar ni pintar
                        </ul>
                    </div>
                    <a href="#comprar" class="buy-button">Comprar Ahora</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>Cajas de Inicio y Combat Patrol de Warhammer 40,000</h1>
        <div class="product-grid">

                            <!-- Combat Patrol: Marines Espaciales -->
                            <div class="product-card">
                                <div class="product-image">
                                   <img src="../Imagenes/Combat_Patrol_Marines_Espaciales.jpg" alt="Combat Patrol - Marines Espaciales">
                                </div>
                                <div class="product-details">
                                   <h2 class="product-title">Combat Patrol: Marines Espaciales</h2>
                                   <p class="product-description">Una fuerza táctica lista para la batalla con los mejores guerreros del Imperio.</p>
                                   <p class="product-price">$140.00</p>
                                   <div class="product-content">
                                      <h3>Contenido:</h3>
                                      <ul>
                                         <li>1 Teniente Primaris con armadura Phobos</li>
                                         <li>10 Infiltradores Primaris</li>
                                         <li>3 Supresores</li>
                                         <li>3 Eliminadores</li>
                                         <li> 1 Impulsor Primaris</li>
                                      </ul>
                                    </div>
                                    <a href="#comprar" class="buy-button">Comprar Ahora</a>
                               </div>
                            </div>
                            <!-- Combat Patrol: Necrones -->
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="../Imagenes/Combat_Patrol_Necrones.jpg" alt="Combat Patrol - Necrones">
                                </div>
                                <div class="product-details">
                                    <h2 class="product-title">Combat Patrol: Necrones</h2>
                                    <p class="product-description">Despierta a los Necrones y lleva la batalla a las razas vivientes.</p>
                                    <p class="product-price">$140.00</p>
                                    <div class="product-content">
                                        <h3>Contenido:</h3>
                                        <ul>
                                            <li>1 señor supremo Necron</li>
                                            <li>10 guerreros Necrones</li>
                                            <li>3 escarabajos canopticos</li>
                                            <li>1 destructor acechante canoptico </li>
                                            <li>3 Destructores Skorpekh</li>
                                        </ul>
                                    </div>
                                    <a href="#comprar" class="buy-button">Comprar Ahora</a>
                                </div>
                            </div>
                
                            <!-- Combat Patrol: Eldars -->
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="../Imagenes/Combat_Patrol_Eldar.jpg" alt="Combat Patrol - Eldars">
                                </div>
                                <div class="product-details">
                                    <h2 class="product-title">Combat Patrol: Eldars</h2>
                                    <p class="product-description">Desata la velocidad y letalidad de los misteriosos Eldars.</p>
                                    <p class="product-price">$140.00</p>
                                    <div class="product-content">
                                        <h3>Contenido:</h3>
                                        <ul>
                                            <li>1 vidente</li>
                                            <li>10 guardianes</li>
                                            <li>1 señor Espectral</li>
                                            <li>6 ginetes del viento</li>
                                        </ul>
                                    </div>
                                    <a href="#comprar" class="buy-button">Comprar Ahora</a>
                                </div>
                            </div>
                
                            <!-- Combat Patrol: Taus -->
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="../Imagenes/Combat_Patrol_Taus.jpg" alt="Combat Patrol - Taus">
                                </div>
                                <div class="product-details">
                                    <h2 class="product-title">Combat Patrol: Taus</h2>
                                    <p class="product-description">Lucha por el Bien Supremo con una fuerza móvil y tecnológicamente avanzada.</p>
                                    <p class="product-price">$140.00</p>
                                    <div class="product-content">
                                        <h3>Contenido:</h3>
                                        <ul>
                                            <li>1 comandante</li>
                                            <li>10 guerreros de Fuego</li>
                                            <li>3 Crisis Battlesuits</li>
                                            <li>1 Ghostkeel Battlesuit</li>
                                            <li>5 explorador</li>
                                        </ul>
                                    </div>
                                    <a href="#comprar" class="buy-button">Comprar Ahora</a>
                                </div>
                            </div>
                
                            <!-- Combat Patrol: Ligas de los Votann -->
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="../Imagenes/Combat_Patrol_Ligas_Votann.jpg" alt="Combat Patrol - Ligas de los Votann">
                                </div>
                                <div class="product-details">
                                    <h2 class="product-title">Combat Patrol: Ligas de los Votann</h2>
                                    <p class="product-description">Descubre el poder de las antiguas Ligas de los Votann.</p>
                                    <p class="product-price">$140.00</p>
                                    <div class="product-content">
                                        <h3>Contenido:</h3>
                                        <ul>
                                            <li>1 Ûthar el Destinado</li>
                                            <li>5 Beserkes Cthonianos</li>
                                            <li>3 Pioneros de Hernkyn</li>
                                            <li>10 Guerreros Hearthkyn</li>
                                        </ul>
                                    </div>
                                    <a href="#comprar" class="buy-button">Comprar Ahora</a>
                                </div>
                            </div>
                
                            <!-- Combat Patrol: Marines del Caos -->
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="../Imagenes/Combat_Patrol_Marines_Espaciales_Chaos.jpg" alt="Combat Patrol - Marines del Caos">
                                </div>
                                <div class="product-details">
                                    <h2 class="product-title">Combat Patrol: Marines del Caos</h2>
                                    <p class="product-description">Conjura el poder del Caos y desata la destrucción en el campo de batalla.</p>
                                    <p class="product-price">$140.00</p>
                                    <div class="product-content">
                                        <h3>Contenido:</h3>
                                        <ul>
                                            <li>1 apostol oscuro</li>
                                            <li>10 marines espaciales del Chaos</li>
                                            <li>5 Aniquiladores</li>
                                            <li>1 brutio infernal</li>
                                        </ul>
                                    </div>
                                    <a href="#comprar" class="buy-button">Comprar Ahora</a>
                                </div>
                            </div>
                
                            <!-- Combat Patrol: Orkos -->
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="../Imagenes/Combat_Patrol_Orkos.jpg" alt="Combat Patrol - Orkos">
                                </div>
                                <div class="product-details">
                                    <h2 class="product-title">Combat Patrol: Orkos</h2>
                                    <p class="product-description">Lucha con el frenesí y el caos de los Orkos en el campo de batalla.</p>
                                    <p class="product-price">$140.00</p>
                                    <div class="product-content">
                                        <h3>Contenido:</h3>
                                        <ul>
                                            <li>1 Kaudillo con mega Armadura</li>
                                            <li>20 Chicoz Orkos</li>
                                            <li>3 kopteros</li>
                                            <li>1 Dreznaut</li>
                                        </ul>
                                    </div>
                                    <a href="#comprar" class="buy-button">Comprar Ahora</a>
                                </div>
                            </div>
                
                            <!-- Combat Patrol: Tiránidos -->
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="../Imagenes/Combat_Patrol_Tyranidos..jpg" alt="Combat Patrol - Tiránidos">
                                </div>
                                <div class="product-details">
                                    <h2 class="product-title">Combat Patrol: Tiránidos</h2>
                                    <p class="product-description">Consume y devora a tus enemigos con la voracidad de los Tiránidos.</p>
                                    <p class="product-price">$140.00</p>
                                    <div class="product-content">
                                        <h3>Contenido:</h3>
                                        <ul>
                                            <li>1 Tiranido del enjambre</li>
                                            <li>10 Termagants</li>
                                            <li>3 guerreros tiranidos</li>
                                            <li>3 enjambres devoradores</li>
                                            <li>36 termagantes</li>
                                        </ul>
                                    </div>
                                    <a href="#comprar" class="buy-button">Comprar Ahora</a>
                                </div>
                            </div>
</body>


</html>
